.place-bg-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  height: 100vh;
  width: 100%;
}
.place-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  justify-content: center;
}
.place-heading {
  font-family: DM Sans;
  font-size: 24px;
  opacity: 1;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
}
.place-para {
  font-family: DM Sans;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}
. {
  width: Hug (131px);
  height: Hug (32px);
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  opacity: 1;
  background-color: #f7931e;
  color: #ffffff;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}
.succbutton {
  width: Hug (131px);
  height: Hug (32px);
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  opacity: 1;
  background: #f7931e;
  font-family: 'DM Sans';
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}
.link-but {
  text-decoration: none;
  opacity: 1;
}
