.cart-bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.linkCart {
  text-decoration: none;
  opacity: 1;
}
.no-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
  width: 100%;
  opacity: 1;
}
.empty-heading {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #1e293b;
  margin-bottom: 3px;
  opacity: 1;
}
.empty-para {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #647488;
  opacity: 1;
}
.order-now-btn {
  width: Hug (93px) px;
  height: Hug (32px) px;
  top: 753px;
  left: 674px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  opacity: 1;
  background: #f7931e;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  border: none;
}
.cart-bg-con {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.cart-container {
  border: 1px solid #0b69ff1a;
  background-color: #f9fbfe;
  width: 1110px;
  margin-top: 50px;
  top: 144px;
  left: 165px;
  gap: 0px;
  opacity: 1;
}
.cart-head {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #475569;
  opacity: 1;
}
.cart-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
}
.container-list {
  padding-right: 130px;
  opacity: 1;
}
.cart-img {
  width: 136px;
  height: 100px;
  top: 224px;
  left: 213px;
  gap: 0px;
  border-radius: 8px;
  opacity: 1;
  margin-right: 20px;
}
.counter-container {
  margin-right: 130px;
  opacity: 1;
}
.name-cart {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #183b56;
  display: inline;
  opacity: 1;
}
.img-cont-cart {
  display: flex;
  align-items: center;
  opacity: 1;
}
.price-cart {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffa412;
  opacity: 1;
}
.hrline {
  border: 1px dashed #cbd2d9;
  color: #f9fbfe;

  top: 144px;
  left: 165px;
  gap: 0px;
  opacity: 1;
}
.total-cart-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.order-total-cart {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  margin-right: 120px;
  margin-left: 50px;
  color: #3e4c59;
  opacity: 1;
}
.total {
  font-family: 'DM Sans';
  opacity: 1;
}
.butn-cont-cart {
  display: flex;
  padding-right: 130px;
  justify-content: flex-end;
  padding-bottom: 50px;
  opacity: 1;
}
.place-order-butn {
  cursor: pointer;
  width: Hug (99px);
  height: Hug (32px);
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  opacity: 1;
  color: #ffffff;
  background-color: #f7931e;
  border: none;
  align-self: flex-end;
}
