.home-bg-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  opacity: 1;
}
.displayinline {
  display: inline;
  opacity: 1;
}
.offer-imgs {
  width: 1110px;
  height: 320px;
  top: 146px;
  left: 165px;
  gap: 0px;
  border-radius: 8px;
  opacity: 1;
}
.rest-bg-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.rend {
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
}
.sliders-container {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  opacity: 1;
  padding-bottom: 80px;
}
.rest-top {
  width: 100%;
  opacity: 1;
}
.sort-by-box {
  border: none;
  font-family: 'DM Sans';
  font-size: 16px;
  opacity: 1;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #475569;
  cursor: pointer;
  outline: none;
}
.popular-heading {
  color: #183b56;
  font-family: DM Sans;
  font-size: 32px;
  opacity: 1;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  margin: 2px;
}
.cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  align-items: center;
}
.para {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  line-height: 24px;
  text-align: left;
  color: #64748b;
}
.sort-cont {
  display: flex;
  align-items: center;
  width: 180px;
  height: 24px;
  top: 120px;
  left: 1095px;
  gap: 0px;
  opacity: 1;
  color: #475569;
}
.sort-by {
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  opacity: 1;
}
.sort-img {
  color: #475569;
  opacity: 1;
  margin-right: 10px;
}
.dishes-ul {
  display: flex;
  padding-inline-start: 0px;
  flex-wrap: wrap;
  opacity: 1;
}
.hr {
  width: 1110px;
  height: 0px;
  top: 168px;
  opacity: 1;

  border: 1px solid #cbd2d9;
}
.page-cont {
  display: flex;
  flex-direction: row;
  opacity: 1;
  align-items: center;
  align-self: center;
}
span {
  display: none;
  opacity: 1;
}
.left-button {
  border: 1px solid #334155;
  padding: 5px;
  width: 32px;
  height: 32px;
  top: 644px;
  left: 647px;
  gap: 0px;
  opacity: 1;
  cursor: pointer;
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
  background-color: transparent;
}
.arr-imgs-page {
  width: 16px;
  height: 16px;
  top: 8px;
  left: 8px;
  padding: 2px 5px 2px 4px;
  gap: 0px;
  opacity: 1;
}
.para-footer {
  font-family: Bree Serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.16px;
  opacity: 1;
  text-align: center;
  color: #334155;
  margin-top: 15px;
}
.cont-dis {
  display: flex;
  align-items: center;
  opacity: 1;
}
