.dish-list {
  list-style-type: none;
  display: inline-block;
  opacity: 1;
}
.dish-list-cont {
  display: flex;
  font-family: 'Roboto';
  align-items: flex-start;
  opacity: 1;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 500px;
}
.displ {
}
.dish-img {
  width: 255px;
  height: 150px;
  top: 552px;
  left: 165px;
  gap: 0px;
  border-radius: 8px;
  opacity: 1;
  margin-right: 20px;
}
.food-name {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  opacity: 1;
  text-align: left;
}
.food-price {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  opacity: 1;
  text-align: left;
}
.food-rating {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  opacity: 1;
  text-align: left;
  display: inline;
  margin-left: 5px;
}
.add-button {
  width: (58px);
  height: (32px);
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid #ffa412;
  color: #ffa412;
  opacity: 1;
  background-color: transparent;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
}
